<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bioactivity Prediction App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="App Logo" class="logo">
        <h1>Bioactivity Prediction App</h1>
        
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit" id="predict-button">Predict</button>
        </form>
        
        {% if tables %}
            <h2>Prediction Results</h2>
            <div>{{ tables[0]|safe }}</div>
            <a href="{{ url_for('download_file') }}" download>
                <button>Download Predictions</button>
            </a>
        {% endif %}
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>